<div class="sonar-call-to-action-area section-padding-0-100">
    <div class="backEnd-content">
        <h2></h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="call-to-action-content wow fadeInUp" data-wow-delay="0.5s">
                    <h2></h2>
                    <h5></h5>
                    <img class="dots" src="img/core-img/gujarat-tourism-logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Copywrite Text -->
                <div class="copywrite-text">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | GUJARAT TOURISM <i class="fa fa-heart-o" aria-hidden="true"></i><a href="https://colorlib.com" target="_blank"></a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
                </div>
            </div>
        </div>
    </div>
</footer>
