<header class="header-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="menu-area d-flex justify-content-between">
                    <!-- Logo Area  -->
                    <div class="logo-area">
                        <a href="index"><img class="dots" src="img/core-img/gujarat-tourism-logo.png" alt=""> </a>
                    </div>

                    <div class="menu-content-area d-flex align-items-center">
                        <!-- Header Social Area -->
                       
                        <!-- Menu Icon -->
                        <span class="navbar-toggler-icon" id="menuIcon"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>